################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/YongLi/v15
/CMCS.Common/bin/Debug/InfluxData.Net.Kapacitor.pdb
/CMCS.Common/bin/Debug/InfluxData.Net.Kapacitor.dll
/CMCS.Common/bin/Debug/InfluxData.Net.InfluxDb.pdb
/CMCS.Common/bin/Debug/InfluxData.Net.InfluxDb.dll
/CMCS.Common/bin/Debug/InfluxData.Net.Common.pdb
/CMCS.Common/bin/Debug/InfluxData.Net.Common.dll
/CMCS.Common/bin/Debug/CMCS.DapperDber.pdb
/CMCS.Common/bin/Debug/CMCS.DapperDber.dll
/CMCS.Common/bin/Debug/CMCS.Common.pdb
/CMCS.Common/bin/Debug/CMCS.Common.dll
/CMCS.Common/obj
/CMCS.DapperDber/bin/Debug/CMCS.DapperDber.pdb
/CMCS.DapperDber/bin/Debug/CMCS.DapperDber.dll
/CMCS.DapperDber/obj
/CMCS.DumblyConcealer/bin/Debug/InfluxData.Net.Kapacitor.pdb
/CMCS.DumblyConcealer/bin/Debug/InfluxData.Net.Kapacitor.dll
/CMCS.DumblyConcealer/bin/Debug/InfluxData.Net.InfluxDb.pdb
/CMCS.DumblyConcealer/bin/Debug/InfluxData.Net.InfluxDb.dll
/CMCS.DumblyConcealer/bin/Debug/InfluxData.Net.Common.pdb
/CMCS.DumblyConcealer/bin/Debug/InfluxData.Net.Common.dll
/CMCS.DumblyConcealer/bin/Debug/CMCS.DumblyConcealer.pdb
/CMCS.DumblyConcealer/bin/Debug/CMCS.DumblyConcealer.dll
/CMCS.DumblyConcealer/bin/Debug/CMCS.DapperDber.pdb
/CMCS.DumblyConcealer/bin/Debug/CMCS.DapperDber.dll
/CMCS.DumblyConcealer/bin/Debug/CMCS.Common.pdb
/CMCS.DumblyConcealer/bin/Debug/CMCS.Common.dll
/CMCS.DumblyConcealer/obj
/CMCS.DumblyConcealer.Win/bin/Logs
/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.Win.pdb
/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.Win.exe.config
/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.Win.exe
/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.pdb
/CMCS.DumblyConcealer.Win/bin/CMCS.DumblyConcealer.dll
/CMCS.DumblyConcealer.Win/bin/CMCS.DapperDber.pdb
/CMCS.DumblyConcealer.Win/bin/CMCS.DapperDber.dll
/CMCS.DumblyConcealer.Win/bin/CMCS.Common.pdb
/CMCS.DumblyConcealer.Win/bin/CMCS.Common.dll
/CMCS.DumblyConcealer.Win/bin/InfluxData.Net.InfluxDb.pdb
/CMCS.DumblyConcealer.Win/bin/InfluxData.Net.InfluxDb.dll
/CMCS.DumblyConcealer.Win/bin/InfluxData.Net.Common.pdb
/CMCS.DumblyConcealer.Win/bin/InfluxData.Net.Common.dll
/CMCS.DumblyConcealer.Win/obj
